

.container, .inner-container {
    display: flex;
}

.container {
    flex-direction: column;
    width: 700px;
    margin: 0 auto;
}

.inner-container {
    gap: 1rem;
}

h3, .inner-container p {
    padding: 1rem;
    height: 3rem;
}

h3 {
    background-color: #ea9999;
    margin: 1rem 0;
    width: 8rem;
}

.inner-container p {
    background-color: #9fc5f8;
}

.footer {
    background-color: #ffe599;
}